<br>
<a routerLink="products" routerLinkActive="active-link">Our Products</a><br>
<a routerLink="get-All-Companies" routerLinkActive="active-link">Get all companies</a><br> 
<a routerLink="get-All-Customers" routerLinkActive="active-link">Get all customers</a><br> 
<a routerLink="get-A-Customer" routerLinkActive="active-link">Get a customer</a><br> 
<a routerLink="add-customer" routerLinkActive="active-link">Add customer</a><br> 
<a routerLink="update-customer" routerLinkActive="active-link">update customer</a><br> 
<a routerLink="delete-customer" routerLinkActive="active-link">delete customer</a><br> 


<!--
<div>
    <a routerLink="http://localhost:8080/ClickCouponsSystem/rest/sec/companyService/create-company">Add company</a><br>
    <a routerLink="http://localhost:8080/ClickCouponsSystem/rest/sec/companyService/update-company">Update company Details</a><br>
    <a routerLink="get-company">Get company details</a><br>
    <a routerLink="get-All-Companies">Get all companies</a><br> 
    <a routerLink="http://localhost:8080/ClickCouponsSystem/rest/sec/companyService/delete-company">Delete company</a><br>
    <a routerLink="http://localhost:8080/ClickCouponsSystem/rest/sec/companyService/add-customer">Add customer</a><br>
    <a routerLink="http://localhost:8080/ClickCouponsSystem/rest/sec/companyService/update-customer">Update customer</a><br>
    <a routerLink="http://localhost:8080/ClickCouponsSystem/rest/sec/companyService/get-one-customer">Get customer details</a><br>
    <a routerLink="http://localhost:8080/ClickCouponsSystem/rest/sec/companyService/get-all-customers">Get all customers</a><br>
    <a routerLink="http://localhost:8080/ClickCouponsSystem/rest/sec/companyService/delete-customer">Delete customer</a><br>
    
</div>
-->